.bundle
db/*.sqlite3
tmp/**/*
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.bundle
.powrc
vendor/bundle
tmp/*
public/system/*
coverage/
spec/tmp/*
**.orig
config/*.yml
rerun.txt
.AppleDouble
._*
.DS_Store
Icon
.ackrc
.swp
public/*.html
public/assets/*
*.lock
log/*
.rvmrc
tweets.db
public/components/
