<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Kan du anbefale?</title>
    <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script src="javascript/jquery-1.8.2.js" type="text/javascript" charset="utf-8"></script>
    <script src="bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css" type="text/css" media="screen" title="Bootstrap" charset="utf-8">
    
    <script type="text/javascript" charset="utf-8">
      var current_page = 0;
      $(document).ready(function() {
        $("#loadmore").on("click", function() {
          console.log("click");
          current_page ++;
          $.getJSON("/api/" + current_page, function(data, text, jqxhr) {
            var items = [];
            $.each(data, function(key, value) {
              items.push('<div>' + value.html + '</div>');
            });
            $("#tweets").append(items.join(''));
            twttr.widgets.load();
            if (data.length < 10) {
              $("#loadmore").toggleClass("disabled");
            }
          });
        });
      });
    </script>
    
    <style type="text/css" media="screen">
      .center {
        text-align: center;
      }
      .footer {
        margin: 3em;
      }
    </style>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-632301-19']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    
    <div class="container">
      <div class="page-header">
        <h1>Kan du anbefale?<small>Disse mennesker har brug for <i>din</i> hjælp.</small></h1>
      </div>
      <div class="row">
        <div class="span2">
          <a href="https://twitter.com/intent/tweet?hashtags=twitterhjerne" class="btn">Bed om anbefaling</a>
        </div>
      </div>
      <div id="tweets" class="row">
        <% tweets.each do | tweet | %>
          <div>
            <%= tweet.html %>
          </div>
        <% end %>
      </div>
      <div class="row center">
        <button class="btn" id="loadmore">Hent flere tweets</button>
      </div>
      <div class="row footer">
        <div class="span6 center">
          Ide og kode: Ricco Førgaard. <a href="http://twitter.com/fiskeben">Følg mig på Twitter</a>
          <!-- Place this tag where you want the +1 button to render. -->
          <div class="g-plusone" data-size="small" data-annotation="none"></div>

          <!-- Place this tag after the last +1 button tag. -->
          <script type="text/javascript">
            window.___gcfg = {lang: 'da'};

            (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/plusone.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
          </script>
        </div>
        
      </div>
    </div>
    
  </body>
</html>